<div class="badge badge--mkmk" data-role="{{role}}">
  <div class="badge__background"></div>
  <div class="badge__content">
    <div class="badge__logo">
      <div class="badge__line">
        <span>ИПРИМ</span>
        <span class="badge__accent">РАН</span>
        <span class="badge__year">30</span>
      </div>
      <div class="badge__line">МКМК·2019</div>
    </div>
    <div class="badge__name">
      <span class="badge__surname">{{lastName}}</span>
      <span class="badge__given">
        <span class="badge__given-first">{{firstName}}</span>
        <span class="badge__given-middle">{{middleName}}</span>
      </span>
    </div>
    <div class="badge__job">{{job}}</div>
  </div>
</div>
