@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v18/jizYRExUiTo99u79D0eEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v18/jizdRExUiTo99u79D0e8fOytKA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v18/jizaRExUiTo99u79P0U.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v18/jizfRExUiTo99u79B_mh4Ok.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsansnarrow/v19/BngRUXNadjH0qYEzV7ab-oWlsYCB.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsansnarrow/v19/BngSUXNadjH0qYEzV7ab-oWlsbg95DiC.ttf) format('truetype');
}

.badge-box {
  width: 90mm;
  height: 55mm;
  border: 0.3mm dashed #f00;
}
.badge-surface {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 3mm;
  border: 0.3mm solid #cfd8f3;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}
/* HEADER */
.badge-topline {
  display: flex;
  justify-content: space-between;
  font-size: 2.4mm;
  opacity: 0.8;
  margin-bottom: 1mm;
}
.display-name {
  font-size: 7mm;
  font-weight: 800;
  line-height: 1.05;
}
.name-line {
  font-size: 3mm;
  opacity: 0.85;
  margin-top: 0.5mm;
}
.title,
.company {
  font-size: 3.2mm;
  margin-top: 0.7mm;
}
.location {
  font-size: 2.8mm;
  margin-top: 0.7mm;
  opacity: 0.85;
}
/* BODY */
.badge-body {
  display: flex;
  align-items: center;
  margin-top: 1mm;
}
.note {
  font-size: 2.8mm;
  padding: 1mm 1.5mm;
  border: 0.3mm solid #e2e8f0;
  border-radius: 1mm;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* FOOTER */
.badge-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2mm;
}
.role {
  font-size: 3mm;
  padding: 0.8mm 1.6mm;
  border-radius: 1mm;
  background: #0b75f5;
  color: #fff;
  white-space: nowrap;
}
.contacts {
  text-align: right;
  font-size: 2.8mm;
  line-height: 1.15;
  opacity: 0.9;
}
.contact {
  white-space: nowrap;
}
/* QR */
.qr-holder {
  position: absolute;
  right: 2mm;
  bottom: 25mm;
  width: 16mm;
  height: 16mm;
  background: #fff;
  border: 0.3mm solid #d6e0ff;
  border-radius: 1mm;
  display: grid;
  place-items: center;
}
.qr-caption {
  font-size: 2.2mm;
  opacity: 0.7;
}
/* BADGE TYPE VARIANTS (минимально) */
.badge--VIP .role {
  background: #7c3aed;
}
